body {
  width: 100wh;
  height: 90vh;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-family: "Arial";
  font-size: 42px;
  color: #434344;
  font-weight: 300;
  text-align: center;
  position: absolute;
  top: 10%;
  right: 0;
  left: 0;
}

.game {
  width: 632px;
  margin: auto;
  margin-top: 190px;
}
.card-container {
  cursor: pointer;
  width: 120px;
  margin: 12.5px;
  height: 120px;
  perspective: 600;
  position: relative;
  display: inline-block;
}

.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}

.card.rotate {
  transform: rotateY(180deg);
}

.card .side {
  position: absolute;
  backface-visibility: hidden;
  overflow: hidden;
  background: linear-gradient(45deg, #22ab93, #19668d);
  border: solid white 5px;
  border-radius: 9px;
  height: 100%;
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.card .back {
  background: white;
  margin-left: -9px;
  line-height: 130px;
  font-size: 40px;
  color: #0087cc;
  text-align: center;
  transform: rotateY(180deg);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.time {
  font-family: Arial;
  font-size: 36px;
  text-align: center;
  top: 30px;
  color: #434344;
  display: inline;
}

.timer {
  width: 100px;
  margin: auto;
  margin-top: 30px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal .content {
  position: relative;
  display: inline-block;
  top: 50%;
  left: 50%;
  width: 350px;
  background: white;
  transform: translate(-50%, -50%);
  text-align: center;
}

.play_button {
  display: inline-block;
  background: linear-gradient(45deg, #22ab93, #19668d);
  border-radius: 6px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  margin: 40px 0 30px 0;
  height: 40px;
  cursor: pointer;
}

.play_button .text {
  margin: 8px 30px;
  font: 400 20px Arial;
  color: white;
}

.message {
  font: 600 48px Arial;
  color: #434344;
  margin: 30px 0 0 0;
}

.message span {
  letter-spacing: 5px;
  display: inline-block;
  animation: jumping 1.1s ease-in-out infinite;
}

.play_button:active {
  box-shadow: inset 2px 1px 8px rgba(0, 0, 0, 0.5);
}

@keyframes jumping {
  0%,
  100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-20px) scale(1.12);
  }
}

span:nth-child(2) {
  animation-delay: 0.1s;
}
span:nth-child(3) {
  animation-delay: 0.3s;
}
span:nth-child(4) {
  animation-delay: 0.5s;
}

.modal {
  display: none;
}
